@charset "UTF-8";

:root {
    --bs-body-bg: #0d1117;
    --bs-body-color: #c9d1d9;
    --bs-primary: #58a6ff;
    --bs-border-color: #30363d;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('../img/forestfull-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(20%);
    background-attachment: fixed;
    z-index: -2;
    opacity: 0.05;
    animation: fadeBackground 3s ease-in-out infinite;
}

@keyframes fadeBackground {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}


body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(13, 17, 23, 0.85);
    z-index: -1;
}

section {
    padding: 100px 0;
    min-height: 30vh;
    border-top: 1px solid var(--bs-border-color);
}

section:nth-child(even) {
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(13, 17, 23, 0); /* 완전 투명 */
    color: var(--bs-body-color);
    z-index: 1000;
    transition: opacity 0.5s ease;
}

/* 스크롤 내릴 때 헤더 숨김 처리 */
header.hidden {
    opacity: 0;
    pointer-events: none;
}
